@charset "UTF-8";
/*IMPORTATION DES FICHIERS*/
/*IMPORTATION DU FICHIER RESET.CSS*/
@import url(css/reset.css);
/*IMPOTATION DU FICHIER DU TYPO*/
/*la font-family pour l'ensemble du document*/
/*Font-family pour les titres si un chagement est nécessaire*/
/*Variable de la couleur de fond de la balise body*/
/*Variable couleur de la balise H1*/
/*Variable couleur des balises H2 à H6*/
/*Vairable couleur de la balise P*/
/*Variable couleur de la balise/class small*/
/*Variable pour les propriétés des BORDER*/
/*Couleur des balises a*/
/* TYPOGRAPHIE  */
/*Formatage par défut de la balise body*/
body {
  font-family: "Ubuntu, Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #333439;
  color: #C2C2C4;
  margin: 0px; }

/*Formatage par défaut des balises H1 à H6 et de la balise P*/
h1 {
  color: #3498db;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Ubuntu, Helvetica Neue", Helvetica, Arial, sans-serif; }

h2 {
  text-transform: uppercase;
  color: #3498db;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
  font-family: "Ubuntu, Helvetica Neue", Helvetica, Arial, sans-serif; }

h3 {
  color: #3498db;
  font-size: 21px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Ubuntu, Helvetica Neue", Helvetica, Arial, sans-serif; }

h4 {
  font-size: 19px;
  color: #3498db;
  font-weight: 500;
  font-family: "Ubuntu, Helvetica Neue", Helvetica, Arial, sans-serif; }

h5 {
  font-size: 18px;
  color: #3498db;
  font-weight: 400;
  font-family: "Ubuntu, Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center; }

h6 {
  font-size: 16px;
  color: #3498db;
  font-weight: 300;
  font-family: "Ubuntu, Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  color: #C2C2C4;
  font-size: 18px;
  margin-bottom: 15px; }

/*Formatage par défaut de la classe small*/
small {
  font-size: 7px;
  color: grey; }

/*Formatage par defaut des balises mark, del, ins, u, strong, em, abbr*/
mark, del, ins, u, strong, em, abbr {
  /*  Différentes balises de textes   */
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: black; }

mark {
  background-color: yellow; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/*Définition des paramétres par défaut des balise blockquote, code, pre et kbr*/
blockquote {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
  border-left: solid 5px grey;
  padding-left: 5px;
  color: grey; }

code {
  font-family: monospace,Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 5px;
  color: black; }

pre {
  font-family: monospace, Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5667px; }

kbd {
  font-family: monospace,"Unbuntu",Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: red; }

/* LISTE ET MENU */
ul.a {
  list-style-type: circle; }

/*   Puces rondes  */
ul.b {
  list-style-type: square; }

/*   Puces carrées   */
ol.c {
  list-style-type: upper-roman; }

/*  Puces chiffres Romains  */
ol.d {
  list-style-type: lower-alpha; }

/*  Puces lettres en minuscules   */
ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* UL SANS RIEN */
ul {
  padding: 10px; }

ul li {
  margin-left: 35px; }

/*Mise en page des balises <a> (ou des liens)*/
a {
  text-decoration: none; }
  a:link, a:visited, a:hover, a:active {
    color: #C2C2C4; }

textarea {
  border-radius: 5px;
  width: 242px; }

/*Listes des différentes classes permettant de modifier l'affichage des menus ul/li en ayant un affichage
par défaut, un affichage avec une puce carré et un affichage sans décoration*/
.square {
  list-style-type: square; }

.circle {
  list-style-type: circle; }

.noStyle {
  list-style-type: none; }

/*Les classes permettant de formater le texte en ayant un affichage centrer, justifier, à droite ou à gauche*/
.justify {
  text-align: justify; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

/*Les classes permettant de rendre tout un texte en majuscule ou tout en miniscule*/
.upperCase {
  text-transform: uppercase; }

.lowerCase {
  text-transform: lowercase; }

/*Classe pour résuire du texte*/
.small {
  font-size: 10px;
  color: grey; }

/*Classe pour mettre en gras le css*/
.bold {
  font-weight: bold; }

/*Classe premettant de gérer un border (les 4 cotés)*/
.border {
  border: solid black 1px; }

/*Un classe permettant de faire la mise en page des éléments telle que les mentions légales ou encore le copyright*/
.ML {
  background-color: #CCCCCC;
  width: 100%; }

.inputText {
  border-radius: 0px; }

.basicImg {
  margin: auto;
  display: block; }

.divImg {
  min-height: 20em; }
  .divImg img {
    max-width: 100%; }

/*IMPORTATION DU MIXIN DE GRILLE*/
/*Mixin permettant de créer et de gérer une grille*/
/*IMPORTATION DU FICHIER SCSS DES COMPOSANTES DE BASES*/
/*Variables du header*/
/*variable pour le jumbotron*/
/*Variable du menu*/
/*Varaible du navbar*/
/*Variable pour la classe active*/
/*Variable de la classe breadcrumb*/
/*Variable de la classe pagination*/
/* MISE EN PAGE DU HEADER */
.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #2B2C30;
  box-sizing: content-box;
  margin-bottom: 20px;
  height: auto;
  min-height: 5em;
  align-items: center;
  padding-bottom: 5px;
  box-shadow: 0 2px 1px #111; }
  .header h1 {
    margin: auto; }
  .header h1 small {
    margin: auto; }
  .header button {
    float: right;
    overflow: auto; }

/*Mise en page du jumbotron*/
.jumbotron {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #EEEEEE;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
  margin: auto;
  width: 50%;
  color: black; }
  .jumbotron > div {
    font-size: 50px;
    font-weight: 500; }
  .jumbotron p {
    line-height: 30px;
    font-size: 20px; }
  .jumbotron button {
    background-color: #5CB85C;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    color: white;
    padding: 20px; }
    .jumbotron button:hover {
      background-color: #e1e1e1; }

/*Classe pour la barre de navigation par défaut*/
.navbar ul {
  list-style-type: none;
  text-align: center; }
.navbar ul li {
  display: inline-block;
  padding: 10px 30px;
  margin: 0px; }
.navbar ul li:hover {
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  background-color: grey; }

/*Classe desactivé pour rendre un lien indisponible*/
.disabled {
  pointer-events: none;
  cursor: pointer;
  color: grey; }

/*Classe pour rendre le lien couramment activé*/
.active {
  color: #FFFFFF;
  background-color: grey;
  pointer-events: none;
  cursor: default; }

/*Ajout de la classe breadcrumb*/
.breadcrumb {
  padding: 5px 16px;
  list-style: none;
  background-color: #EEEFFF; }
  .breadcrumb li {
    display: inline-block;
    font-size: 15px; }
  .breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0"; }
  .breadcrumb li a {
    color: #0275d8;
    text-decoration: none; }
  .breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline; }

/*Ajout de la classe pagination*/
.pagination {
  display: inline-block;
  list-style-type: none; }
  .pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    margin: 0px;
    text-decoration: none;
    transition: background-color .3s; }
  .pagination li:hover {
    background-color: #DDDDDD;
    cursor: pointer; }
  .pagination li.active {
    background-color: #4CAF50;
    color: white; }

/*OPTIONNEL : Mise en page de la barre de recherche*/
.find button {
  height: 34px;
  border: 0;
  background-color: #d54f58;
  margin-left: -5px; }
.find input {
  color: #A1A1A1;
  font-style: italic;
  background: #FAFAFA;
  height: 30px;
  padding-left: 30px; }

.formulaire {
  margin-bottom: 50px; }
  .formulaire input {
    display: block;
    margin: 5px auto; }

/*IMPORTATION DU FICHIER SCSS DES ALERTES (alerte.scss)*/
/*Variables des couleur des alertes*/
/*Variables des couleurs des textes des alertes*/
/*Autres variables*/
/*Couleur des fenetres et des texte*/
/*Message de notification*/
.msgNotif {
  background-color: #A4C7F7;
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  border: solid 2px #0024EB;
  margin: 5px 0px; }
  .msgNotif p, .msgNotif h3 {
    color: #0024EB; }
  .msgNotif h3:after {
    content: "Information"; }

/*Message de succès*/
.msgSucces {
  background-color: #6AFF65;
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  border: solid 2px #069E00;
  margin: 5px 0px; }
  .msgSucces p, .msgSucces h3 {
    color: #069E00; }
  .msgSucces h3:after {
    content: "Succès !"; }

/*Message d'alerte*/
.msgWarning {
  background-color: #FFFF99;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: solid 2px #FF9000;
  margin: 5px 0px; }
  .msgWarning p, .msgWarning h3 {
    color: #FF9000; }
  .msgWarning h3:after {
    content: "Attention !"; }

/*Message de danger*/
.msgDanger {
  background-color: #FFA59E;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: solid 2px #FF1400;
  margin: 5px 0px; }
  .msgDanger p, .msgDanger h3 {
    color: #FF1400; }
  .msgDanger h3:after {
    content: "Erreur !"; }

/*IMPORTATION DU FICHIER SCSS DES BOUTONS (boutons.scss)*/
/*Variables des couleur de fond des boutons*/
/*Couleur du texte des boutons*/
/*Variables des tailles de boutons*/
/*Variables pour réglés le raduis des boutons*/
/*Définition de la classe btn (bouton basique)*/
.btn {
  font-size: 15px;
  padding: 3px;
  margin: 3px;
  text-align: center;
  border: none;
  border-radius: 0px;
  background-color: #C1C1C1;
  color: white;
  padding: 5px;
  transition: all 0.7s; }
  .btn:hover, .btn:hover {
    cursor: pointer;
    background-color: #999999;
    transition: all 0.7s; }

/*Couleur des boutons et du texte*/
@media only screen and (max-width: 320px) {
  /* Styles pour cette Media Queries */
  /*Bouton d'inscription/de deconnexion*/
  /*Cette propriété est a appliquer uniquement pour le header*/
  .btnConnexion {
    color: black !important;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    max-height: 100%;
    height: 3em; } }
.btnInvit {
  margin: 10px; }

.btnConnexion {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  box-sizing: border-box; }

/*Bouton Notification*/
.btnNotif {
  background-color: rgba(0, 0, 0, 0.5); }
  .btnNotif:hover, .btnNotif:focus {
    opacity: 1;
    background-color: #3498db; }

/*Bouton Succes*/
.btnSucces {
  background-color: rgba(0, 0, 0, 0.5); }
  .btnSucces:hover, .btnSucces:focus {
    opacity: 1;
    background-color: #66CC66; }

/*Bouton Warning*/
.btnWarning {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px; }
  .btnWarning:hover, .btnWarning:focus {
    background-color: #FFFA0D; }

/*Bouton Danger*/
.btnDanger {
  background-color: rgba(0, 0, 0, 0.5); }
  .btnDanger:hover, .btnDanger:focus {
    background-color: #E32C27; }

.btnAdd {
  display: block;
  background-color: #C2C2C4;
  color: black;
  border-radius: 100px;
  width: 25%;
  padding: 50px;
  margin: 10px; }
  .btnAdd:hover, .btnAdd:focus {
    background-color: #66CC66; }

/*Classe pour la taille des boutons*/
.btnSmall {
  font-size: 11px;
  padding: 1px; }

.btnLarge {
  font-size: 25px;
  padding: 10px; }

/*Autres mises en pages de boutons*/
.btnFat {
  border: none;
  border-radius: 0px; }

.btnExLarge {
  width: 100%; }

/*Mixin pour un bouton personalisable*/
/*Choix d'un mixin du aux nombreuses options possible pour rendre un bouton unique et qui
diffère beaucoup selon la charte graphique du site WEB*/
/*GRILLE*/
/*Grille pour le footer*/
.footer {
  box-shadow: 0 -2px 1px #222;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  background-color: #2B2C30;
  text-align: center; }

/*Classe btnStyle*/
.btnStyle {
  /*Bouton*/
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: grey;
  /*Text*/
  text-shadow: 2px 2px #888888;
  color: blue; }

.addMsg {
  margin: auto; }
  .addMsg img {
    padding: 10px; }

.suppListe img {
  margin: auto; }

/*Media query pour */
@media only screen and (max-width: 320px) {
  /* Styles pour cette Media Queries */
  /*Grille pour les articles*/
  .grilleListe {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; }
    .grilleListe article {
      border: solid 2px #C2C2C4;
      padding: 5px;
      box-shadow: 5px 5px 0px #C2C2C4;
      background-color: #3f4046;
      width: 96.2%;
      margin-left: 1.9%;
      overflow: auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      box-sizing: border-box; }
    .grilleListe article:last-child:not(.item) {
      border: dashed 2px #C2C2C4;
      padding: 5px;
      box-shadow: 0px 0px 0px #C2C2C4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
    .grilleListe article:last-child:hover:not(.item) {
      box-shadow: 3px 3px 10px #C2C2C4; } }
/*Media query pour les smartphone en landscape*/
@media only screen and (min-width: 500px) {
  /* Styles pour cette Media Queries */
  /*Grille pour les articles*/
  .grilleListe {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; }
    .grilleListe article {
      border: solid 2px #C2C2C4;
      padding: 5px;
      box-shadow: 5px 5px 0px #C2C2C4;
      background-color: #3f4046;
      width: 96.2%;
      margin-left: 1.9%;
      overflow: auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      box-sizing: border-box; }
    .grilleListe article:last-child:not(.item) {
      border: dashed 2px #C2C2C4;
      padding: 5px;
      box-shadow: 0px 0px 0px #C2C2C4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
    .grilleListe article:last-child:hover:not(.item) {
      box-shadow: 3px 3px 10px #C2C2C4; } }
@media only screen and (min-width: 768px) {
  /* Styles pour cette Media Queries */
  .grilleListe {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; }
    .grilleListe article {
      border: solid 2px #C2C2C4;
      padding: 5px;
      box-shadow: 5px 5px 0px #C2C2C4;
      background-color: #3f4046;
      width: 45.3333333333%;
      margin-left: 3.1111111111%;
      overflow: auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      box-sizing: border-box; }
    .grilleListe article:last-child:not(.item) {
      border: dashed 2px #C2C2C4;
      padding: 5px;
      box-shadow: 0px 0px 0px #C2C2C4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
    .grilleListe article:last-child:hover:not(.item) {
      box-shadow: 3px 3px 10px #C2C2C4; } }
/*Media query pour */
@media only screen and (min-width: 1224px) {
  /* Styles pour cette Media Queries */
  /*Grille pour les articles*/
  .grilleListe {
    display: flex;
    flex-wrap: wrap; }
    .grilleListe article {
      border: solid 2px #C2C2C4;
      padding: 5px;
      box-shadow: 5px 5px 0px #C2C2C4;
      background-color: #3f4046;
      box-sizing: content-box;
      width: 30.8%;
      margin-left: 1.9%;
      overflow: auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      box-sizing: border-box; }
    .grilleListe .item {
      border: solid 2px #C2C2C4;
      padding: 5px;
      box-shadow: 5px 5px 0px #C2C2C4;
      background-color: #3f4046;
      box-sizing: content-box;
      width: 30.8%;
      margin-left: 1.9%;
      overflow: auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      box-sizing: border-box; }
    .grilleListe article:last-child:not(.item) {
      border: dashed 2px #C2C2C4;
      padding: 5px;
      box-shadow: 0px 0px 0px #C2C2C4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
    .grilleListe article:last-child:hover:not(.item) {
      box-shadow: 3px 3px 10px #C2C2C4; } }

/*# sourceMappingURL=style.css.map */
