/*Variables des couleur des alertes*/
$notifC: #A4C7F7;
$succesC: #6AFF65;
$dangerC: #FFA59E;
$warningC: #FFFF99;

/*Variables des couleurs des textes des alertes*/
$notifT: #0024EB;
$succesT: #069E00;
$dangerT: #FF1400;
$warningT: #FF9000	;

/*Autres variables*/
$width: 100%;
$margin: 5px 0px;

/*Couleur des fenetres et des texte*/

/*Message de notification*/
.msgNotif{
	background-color: $notifC;
	width: $width;
	padding: 0px 10px;
	box-sizing: border-box;
	border: solid 2px $notifT;
	margin: $margin;
	& p, h3{
		color: $notifT;
	}
	& h3:after{
		content: "Information";
	}
}

/*Message de succès*/
.msgSucces{
	background-color: $succesC;
	width: $width;
	padding: 0px 10px;
	box-sizing: border-box;
	border: solid 2px $succesT;
	margin: $margin;
	& p, h3{
		color: $succesT;
	}
	& h3:after{
		content: "Succès !";
	}
}

/*Message d'alerte*/
.msgWarning{
	background-color: $warningC;
	width: $width;
	padding: 10px;
	box-sizing: border-box;
	border: solid 2px $warningT;
	margin: $margin;
	& p, h3{
		color: $warningT;
	}
	& h3:after{
		content: "Attention !";
	}
}

/*Message de danger*/
.msgDanger{
	background-color: $dangerC;
	width: $width;
	padding: 10px;
	box-sizing: border-box;
	border: solid 2px $dangerT;
	margin: $margin;
	& p, h3{
		color: $dangerT;;
	}
	& h3:after{
		content: "Erreur !";
	}
}