/*Variables des couleur de fond des boutons*/
$backColorBtn: #C1C1C1;
$notifC: #3498db;
$succesC: #66CC66;
$dangerC: #E32C27;
$warningC: #FFFA0D;
$blackC: #555;

/*Couleur du texte des boutons*/
$colorBtn: black;
$colorW: white;

/*Variables des tailles de boutons*/
$btnPadding: 5px;

/*Variables pour réglés le raduis des boutons*/
$borderRaduis: 0px;


/*Définition de la classe btn (bouton basique)*/
.btn{
	font-size: 15px;
	padding: 3px;
	margin: 3px;
	text-align: center;
	border: none;
	border-radius: $borderRaduis;
	background-color: $backColorBtn;
	color: $colorW;
	padding: $btnPadding;
	transition: all 0.7s;
	&:hover, &:hover{
		cursor: pointer;
		background-color: $backColorBtn - 40;
		transition: all 0.7s;
	}
}

/*Couleur des boutons et du texte*/

@media only screen and (max-width : 320px) {
/* Styles pour cette Media Queries */
/*Bouton d'inscription/de deconnexion*/
/*Cette propriété est a appliquer uniquement pour le header*/
	.btnConnexion{
		color: black !important;
		display:flex;
		align-items: center;
		box-sizing: border-box;
		margin: auto;
		max-height: 100%;
		height: 3em;
		
	}
}

.btnInvit{
	margin: 10px;
}

.btnConnexion{
	background-color: rgba(0, 0, 0, 0.5);
	display:flex;
	align-items: center;
	box-sizing: border-box;
}

/*Bouton Notification*/
.btnNotif{
	background-color: rgba(0, 0, 0, 0.5);
	&:hover, &:focus{
		opacity: 1;
		background-color: $notifC;
	}
}

/*Bouton Succes*/
.btnSucces {
	background-color: rgba(0, 0, 0, 0.5);
	&:hover, &:focus{
		opacity: 1;
		background-color: $succesC;
	}
}

/*Bouton Warning*/
.btnWarning{
	background-color: rgba(0, 0, 0, 0.5);
	margin: 10px;
	&:hover, &:focus{
		background-color: $warningC;
	}
}


/*Bouton Danger*/
.btnDanger{
	background-color: rgba(0, 0, 0, 0.5);
	&:hover, &:focus{
		background-color: $dangerC;
	}
}

.btnAdd{
	display:block;
	background-color: #C2C2C4;
	color: $colorBtn;
	border-radius: 100px;
	width:25%;
	padding:50px;
	margin: 10px;
	&:hover, &:focus{
		background-color: #66CC66;
	}
}

/*Classe pour la taille des boutons*/
.btnSmall{
	font-size: 11px;
	padding: 1px;
}

.btnLarge{
	font-size: 25px;
	padding: 10px;
}

/*Autres mises en pages de boutons*/
.btnFat{
	border: none;
	border-radius: $borderRaduis;
}

.btnExLarge{
	width: 	100%;
}

/*Mixin pour un bouton personalisable*/
/*Choix d'un mixin du aux nombreuses options possible pour rendre un bouton unique et qui
diffère beaucoup selon la charte graphique du site WEB*/
@mixin btnStyle($boxShadow, $borderRaduis, $border, $backColor, $textShadow, $color){
	/*Bouton*/
	box-shadow: $boxShadow;
	border-radius: $borderRaduis;
	border: $border;
	background-color: $backColor;

	/*Text*/
	text-shadow: $textShadow;
	color: $color;
}