/*Variables du header*/
$backColorH: #2B2C30;

/*variable pour le jumbotron*/
$width: 50%;
$backColor: #EEEEEE;
$jumBtnBackColor: #5CB85C;
$jumBtnColor: white;
$jumbColor: black;

/*Variable du menu*/
$menuColor: Yellow;

/*Varaible du navbar*/
$hoverColor: #FFFFFF;
$hoverBackColor: grey;
$disabledColor: grey;

/*Variable pour la classe active*/
$activColor: #FFFFFF;
$activBackColor: grey;

/*Variable de la classe breadcrumb*/
$breadBackColor: #EEEFFF;
$bredFontSize: 15px;

$breadColorA: #0275d8;
$breadColorAHover: #01447e;

/*Variable de la classe pagination*/
$pagColor: black;
$pagBackColorH: #DDDDDD;
$pagBackColorA: #4CAF50;

/* MISE EN PAGE DU HEADER */
.header{
	display: flex; 
	flex-wrap: wrap;
	background-color: $backColorH;
	box-sizing: content-box;
	margin-bottom: 20px;
	height: auto;
	min-height: 5em;
	align-items: center;
	padding-bottom: 5px;
	& h1{
		margin: auto;
	}
	& h1 small{
		margin: auto;
	}
	& button{
		float: right;
		overflow: auto;
	}
	box-shadow: 0 2px 1px #111;
}

/*Mise en page du jumbotron*/
.jumbotron {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #EEEEEE;
	border-radius: 5px;
	text-align: center;
	padding: 30px;
	margin: auto;
	width: 50%;
	color: $jumbColor;
	&>div{
		font-size: 50px;
		font-weight: 500;
	}
	& p{
		line-height: 30px;
		font-size: 20px;
	}
	& button{
		background-color: $jumBtnBackColor;
		border-radius: 5px;
		border: none;
		font-size: 25px;
		color: $jumBtnColor;
		padding: 20px;
		&:hover{
			background-color: $jumBtnColor - 30;
		}
	}

}

/*Classe pour la barre de navigation par défaut*/
.navbar{
	& ul{
		list-style-type: none;
		text-align: center;
	}
	& ul li{
		display: inline-block;
		padding: 10px 30px;
		margin: 0px;
	}
	& ul li:hover{
		display: inline-block;
		cursor: pointer;
		color: $hoverColor;
		background-color: $hoverBackColor;
	}
}


/*Classe desactivé pour rendre un lien indisponible*/
.disabled{
	pointer-events: none;
	cursor: pointer;
	color: $disabledColor;
}

/*Classe pour rendre le lien couramment activé*/
.active{
	color: $activColor;
	background-color: $activBackColor;
	pointer-events: none;
	cursor: default;
}


/*Ajout de la classe breadcrumb*/
.breadcrumb{
	padding: 5px 16px;
    list-style: none;
    background-color: $breadBackColor;
    & li{
    	display: inline-block;
    	font-size: $bredFontSize;
    }
    & li+li:before{
	    padding: 8px;
	    color: black;
	    content: "/\00a0";
    }
    & li a{
    	color: $breadColorA;
    	text-decoration: none;
    }
    & li a:hover{
    	color: $breadColorAHover;
    	text-decoration: underline;
    }
}


/*Ajout de la classe pagination*/
.pagination{
	display: inline-block;
	list-style-type: none;
	& li{
		color: $pagColor;
		float: left;
		padding: 8px 16px;
		margin: 0px ;
    	text-decoration: none;
    	transition: background-color .3s;
	}
	& li:hover{
		background-color: $pagBackColorH;
		cursor: pointer;
	}
	& li.active{
		background-color: $pagBackColorA;
		color: white;
	}
}

/*OPTIONNEL : Mise en page de la barre de recherche*/
.find{
	& button{
	    height: 34px;
	    border: 0;
	    background-color: #d54f58;
	    margin-left:-5px;
	}
  	& input{
	    color: #A1A1A1;
	    font-style: italic;
	    background: #FAFAFA;
	    height: 30px;
	    padding-left: 30px;
	}
}

.formulaire{
	margin-bottom: 50px;
	& input{
		display: block;
		margin : 5px auto;
	}
}