/*Mixin permettant de créer et de gérer une grille*/
@mixin grille($nbcolonne, $lrgcolonne, $lrgelt, $offset){
	$lrggoutiere: (100 - $nbcolonne * $lrgcolonne) / ($nbcolonne + 1);
	width: ($lrgelt * $lrgcolonne + ($lrgelt - 1) * $lrggoutiere) * 1%;
	margin-left:($offset * $lrgcolonne + ($offset +1) * $lrggoutiere) * 1%;

	overflow: auto;
	margin-top : 0.5em;
	margin-bottom: 0.5em;
	box-sizing: border-box;
}