/*IMPORTATION DES FICHIERS*/

/*IMPORTATION DU FICHIER RESET.CSS*/
@import 'css/reset.css';
/*IMPOTATION DU FICHIER DU TYPO*/
@import 'typographie.scss';
/*IMPORTATION DU MIXIN DE GRILLE*/
@import 'grille.scss';
/*IMPORTATION DU FICHIER SCSS DES COMPOSANTES DE BASES*/
@import 'composant.scss';
/*IMPORTATION DU FICHIER SCSS DES ALERTES (alerte.scss)*/
@import 'alerte.scss';
/*IMPORTATION DU FICHIER SCSS DES BOUTONS (boutons.scss)*/
@import 'boutons.scss';

/*GRILLE*/



/*Grille pour le footer*/
.footer{
	box-shadow: 0 -2px 1px #222;
	margin-top:2em;
	$nbcolonne: 4;
	$lrgcolonne:24;
	display: flex;
	flex-wrap: wrap;
	background-color: #2B2C30;
	text-align: center;
}

/*Classe btnStyle*/
.btnStyle{
	@include btnStyle($boxShadow: 5px 5px 5px #888888, $borderRaduis: 5px, 
		$border: 1px solid grey, $backColor: grey, $textShadow: 2px 2px #888888, $color: blue)
}

.addMsg{
	margin: auto;
	& img{
		padding: 10px;
	}
}

.suppListe{
	& img{
		margin: auto;
	}
}
/*Media query pour */
@media only screen and (max-width : 320px) {
/* Styles pour cette Media Queries */
	/*Grille pour les articles*/
		.grilleListe{
			$nbcolonne: 9;
			$lrgcolonne:9;
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			& article {
				border: solid 2px #C2C2C4;
				padding: 5px;
				box-shadow: 5px 5px 0px #C2C2C4;
				background-color: lighten(#333439, 5%);
				@include grille($nbcolonne,$lrgcolonne,9,0);
			}
			& article:last-child:not(.item){
				border: dashed 2px #C2C2C4;
				padding: 5px;
				box-shadow: 0px 0px 0px #C2C2C4;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
			}
			& article:last-child:hover:not(.item){
				box-shadow: 3px 3px 10px #C2C2C4;

			}
		}
} 

/*Media query pour les smartphone en landscape*/
@media only screen and (min-width : 500px) {
/* Styles pour cette Media Queries */
	/*Grille pour les articles*/
	.grilleListe{
		$nbcolonne: 9;
		$lrgcolonne:9;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		& article {
			border: solid 2px #C2C2C4;
			padding: 5px;
			box-shadow: 5px 5px 0px #C2C2C4;
			background-color: lighten(#333439, 5%);
			@include grille($nbcolonne,$lrgcolonne,9,0);
		}
		& article:last-child:not(.item){
			border: dashed 2px #C2C2C4;
			padding: 5px;
			box-shadow: 0px 0px 0px #C2C2C4;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
		}
		& article:last-child:hover:not(.item){
			box-shadow: 3px 3px 10px #C2C2C4;

		}
	}
}

@media only screen and (min-width : 768px){
/* Styles pour cette Media Queries */
	.grilleListe{
		$nbcolonne: 8;
		$lrgcolonne:9;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		& article {
			border: solid 2px #C2C2C4;
			padding: 5px;
			box-shadow: 5px 5px 0px #C2C2C4;
			background-color: lighten(#333439, 5%);
			@include grille($nbcolonne,$lrgcolonne,4,0);
		}
		& article:last-child:not(.item){
			border: dashed 2px #C2C2C4;
			padding: 5px;
			box-shadow: 0px 0px 0px #C2C2C4;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
		}
		& article:last-child:hover:not(.item){
			box-shadow: 3px 3px 10px #C2C2C4;

		}
	}

}

/*Media query pour */
@media only screen and (min-width : 1224px){
/* Styles pour cette Media Queries */
	/*Grille pour les articles*/
	.grilleListe{
		$nbcolonne: 9;
		$lrgcolonne:9;
		display: flex;
		flex-wrap: wrap;
		& article {
			border: solid 2px #C2C2C4;
			padding: 5px;
			box-shadow: 5px 5px 0px #C2C2C4;
			background-color: lighten(#333439, 5%);
			box-sizing: content-box;
			@include grille($nbcolonne,$lrgcolonne,3,0);
		}
		.item {
			border: solid 2px #C2C2C4;
			padding: 5px;
			box-shadow: 5px 5px 0px #C2C2C4;
			background-color: lighten(#333439, 5%);
			box-sizing: content-box;
			@include grille($nbcolonne,$lrgcolonne,3,0);
		}
		& article:last-child:not(.item){
			border: dashed 2px #C2C2C4;
			padding: 5px;
			box-shadow: 0px 0px 0px #C2C2C4;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
		}
		& article:last-child:hover:not(.item){
			box-shadow: 3px 3px 10px #C2C2C4;

		}

}
}