/*la font-family pour l'ensemble du document*/
$bodyFamily: "Ubuntu, Helvetica Neue",Helvetica,Arial,sans-serif;
$bodyColor: #C2C2C4;

/*Font-family pour les titres si un chagement est nécessaire*/
$fontFamily: "Ubuntu, Helvetica Neue",Helvetica,Arial,sans-serif;


/*Variable de la couleur de fond de la balise body*/
$backColor: #333439;

/*Variable couleur de la balise H1*/
$colorH1: #3498db;

/*Variable couleur des balises H2 à H6*/
$colorH: #3498db;

/*Vairable couleur de la balise P*/
$colorP: #C2C2C4;

/*Variable couleur de la balise/class small*/
$colorSmall: grey;


/*Variable pour les propriétés des BORDER*/
$border: solid black 1px;

/*Couleur des balises a*/
$linkColor: #C2C2C4;
/* TYPOGRAPHIE  */
/*Formatage par défut de la balise body*/
body{
	font-family: $bodyFamily;
	background-color: $backColor;
    color: $bodyColor;
    margin: 0px;
}

/*Formatage par défaut des balises H1 à H6 et de la balise P*/
h1{
    color: $colorH1;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: $fontFamily;
}

h2{
    text-transform: uppercase;
    color: $colorH;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    font-family: $fontFamily;
}

h3{
    color: $colorH;
    font-size: 21px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    font-family: $fontFamily;
}

h4{
    font-size: 19px;
    color: $colorH;
    font-weight: 500;
    font-family: $fontFamily;
}

h5{
    font-size: 18px;
    color: $colorH;
    font-weight: 400;
    font-family: $fontFamily;
    text-align: center;
}

h6{
    font-size: 16px;
    color: $colorH;
    font-weight: 300;
    font-family: $fontFamily;

}

p {
    color: $colorP;
    font-size : 18px;
    margin-bottom : 15px;
}


/*Formatage par défaut de la classe small*/
small{
	font-size: 7px;
	color: grey;
}

/*Formatage par defaut des balises mark, del, ins, u, strong, em, abbr*/
mark, del, ins, u, strong, em, abbr{    /*  Différentes balises de textes   */
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: black;
}

mark{
    background-color: yellow;
}

del{
    text-decoration: line-through;
}

ins{
    text-decoration: underline;
}

u{
    text-decoration: underline;
}

strong{
	font-weight: bold;
}

em{
    font-style: italic;
}


/*Définition des paramétres par défaut des balise blockquote, code, pre et kbr*/

blockquote{
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	border-left: solid 5px grey;
	padding-left: 5px;
	color: grey;
}

code{
	font-family: monospace,Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	padding-left: 5px;
	color: black;
}

pre{
	font-family: monospace, Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}

kbd{
	font-family: monospace,"Unbuntu",Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: red;
}

/* LISTE ET MENU */

ul.a {list-style-type: circle;}         /*   Puces rondes  */
ul.b {list-style-type: square;}         /*   Puces carrées   */
ol.c {list-style-type: upper-roman;}    /*  Puces chiffres Romains  */ 
ol.d {list-style-type: lower-alpha;}    /*  Puces lettres en minuscules   */

ul.demo {list-style-type: none;margin: 0;padding: 0;} /* UL SANS RIEN */

ul {
    padding: 10px;
}

ul li {
    margin-left: 35px;
}


/*Mise en page des balises <a> (ou des liens)*/
a{
    text-decoration: none;
    &:link, &:visited, &:hover, &:active{
        color: $linkColor;
    }
}

textarea{
    border-radius: 5px;
    width: 242px;
}

/*Listes des différentes classes permettant de modifier l'affichage des menus ul/li en ayant un affichage
par défaut, un affichage avec une puce carré et un affichage sans décoration*/
.square{
	list-style-type: square;
}

.circle{
	list-style-type: circle
}

.noStyle{
	list-style-type: none;
}


/*Les classes permettant de formater le texte en ayant un affichage centrer, justifier, à droite ou à gauche*/
.justify{
    text-align: justify;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

/*Les classes permettant de rendre tout un texte en majuscule ou tout en miniscule*/
.upperCase{
	text-transform: uppercase;
}

.lowerCase{
	text-transform: lowercase;
}

/*Classe pour résuire du texte*/
.small{
	font-size: 10px;
	color: grey;
}

/*Classe pour mettre en gras le css*/
.bold{
    font-weight: bold;
}

/*Classe premettant de gérer un border (les 4 cotés)*/
.border{
	border: $border;
}

/*Un classe permettant de faire la mise en page des éléments telle que les mentions légales ou encore le copyright*/
.ML{
    background-color: #CCCCCC;
    width: 100%;

}

.inputText{
    border-radius: 0px;
}

.basicImg{
    margin: auto;
    display: block;
}

.divImg{
    min-height: 20em;
    & img{
        max-width: 100%
    }
}
